<mz-modal #bottomSheetModal >
  <mz-modal-header>
    {{modalHeader}}
  </mz-modal-header>
  <mz-modal-content>
    <form class="col s12">
      <div class="col s12">
        <mz-input-container>
          <input mz-input [label]="'Title'" id="title-input" name="title" placeholder="Enter your task title" type="text" [(ngModel)]="currentTask.title">
        </mz-input-container>

      </div>


      <div class="col s12">
        <mz-select-container>
          <select mz-select [label]="'Status'" id="test" name="status" [(ngModel)]="currentTask.status">
          <option class="left" *ngFor="let selectOption of selectOptions"
          [selected]="selectOption === currentTask.status">
            
            {{ selectOption }}
          </option>
        </select>
        </mz-select-container>

      </div>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="false" mz-modal-close (click)="closeModal()">Cancel</button>
    <button mz-button [flat]="false" (click)="saveData()">Save</button>
  </mz-modal-footer>
</mz-modal>