<div class="page-header">
  <h5>To Do Tasks List </h5>
  <a class="btn-floating halfway-fab waves-effect waves-light teal pulse add" (click)="addTask()">
      <i class="material-icons">add</i>
  </a>
</div>

<div class="divider"></div>
<app-loader *ngIf="isLoading; else taskDiv"></app-loader>

<ng-template #taskDiv>
  <div class="row" *ngIf="tasks.length != 0;else noTasks">
    <div class="col s12" *ngFor="let task of tasks;let i= index;">
      <div class="card" [ngClass]="task.status">
        <div class="card-content">
          <span class="card-title">{{task.title}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light teal edit">
            <i class="material-icons" (click)="editTask(task)">edit</i>
          </a>
          <a class="btn-floating halfway-fab waves-effect waves-light red delete" (click)="handleDeleteTask(task)">
            <i class="material-icons">delete</i>
          </a>
        </div>
      </div>
    </div>
  </div>
<ng-template #noTasks>
  <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">No Tasks Available. Please add your Tasks. </span>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>

<app-add-edit [task]="currentTask" *ngIf="currentTask" (saveEvent)="saveTask($event)" (modalClose)="modalClose()"></app-add-edit>