<div class="page-header">
  <h4>To Do Tasks List
    <button class="btn btn-danger" (click)="addTask()">Add Task</button>
  </h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="alert alert-danger" *ngIf="tasks.length == 0">
        You haven't added any task yet. Please Add some task.
      </div>
      <div class="table-responsive" *ngIf="tasks.length != 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Id</th>
              <th>Title</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks;let i= index;">
              <td>{{i}}</td>
              <td>{{task.id}}</td>
              <td>{{task.title}}</td>
              <td>{{task.status}}</td>
              <td>
                <span class="glyphicon glyphicon-pencil edit-action" (click)="editTask(task)"></span>
                <span class="glyphicon glyphicon-trash delete-action" (click)="deleteTask(task)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-add-edit *ngIf="currentTask" [task]="currentTask" (addModalClose)="handleAddModalClose()" (addUpdate)="handleAddUpdate($event)"></app-add-edit>

<app-delete *ngIf="taskToDelete" [taskToDelete]="taskToDelete" (modalClose)="handleDeleteModalClose()" (handleDelete)="handleDeleteTask($event)">
</app-delete>
