h4{
    text-align: center;
}
h4 button{
    float: right;
    margin-right: 40px; 
}
.edit-action{
    margin: 0 5px;
    color: orange;
    opacity: .5;
    font-size: 1.2em;
}

.delete-action{
    margin: 0 5px;
    color: red;
    opacity: .5;
    font-size: 1.2em;
}

.edit-action:hover, .delete-action:hover{
    opacity: 1;
    animation: roll 1s;
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert{
    text-align: center;
}