.navbar-default
{
    background-color: #26a69a;
    border:none;
    border-radius: 0;
}
.navbar-brand
{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left:20px;
}
/*.loader-container{
    position: relative;
}*/
.welcome{
    color: white;

}
.navbar-header{
    width: 100%;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.dropdown{
    display: inline-block;
    padding-left: 10px;
}
