<app-loader *ngIf="showLoader; else login"></app-loader>


<ng-template #login>
  <div class="row custom-row">
    <div class="col s12 m6 offset-m3 account-wall">
      <h1 class="text-center login-title">
        Please Login
      </h1>
      <div class="row">
          <div class="col s6 push-s3 box"  (click)="doLogin('google')"> 
            <a class="fa fa-google"></a>
            Login with Google
          </div>
      </div>
        <div class="row">
          <div class="col s6 push-s3 box" (click)="doLogin('fb')">
            <a class="fa fa-facebook" ></a>
            Login with Facebook
          </div>
        </div>
    </div>

  </div>
</ng-template>