.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.custom-row
{
    margin-bottom: 0px;
}
.text-center
{
    text-align: center;
}
.account-wall
{
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #26a69a;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
a.btn
{
    margin-bottom: 5px;
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 35px;
  height:35px;  
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
    cursor: pointer;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
